<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="header">
    <div class="logo">My Blogs</div>
    <nav>
      <a href="/">Home</a>
      <a href="/compose">Compose</a>
    </nav>
    <div class="auth-buttons">
      <button class="sign-in">Sign in</button>
      <button class="register">Register</button>
    </div>
  </header>
